body, html {
    height: 100%;
    margin: 0;
    font-family: 'Courier New', monospace;
    background-color: #111;
    color: #fff;
}

#container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

header {
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 2.5rem;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#surveillance-feed {
    width: 100%; /* Full width to maximize space for the video */
    height: 530px;
    width: 315px; /* You can set a max-width to prevent it from becoming too large on very wide screens */
    margin: 20px auto; /* Center it with automatic horizontal margins */
    background-color: #222;
    position: relative; /* Relative positioning for the absolute .video-container */
}


.redacted {
    background-color: #f00;
    color: #f00;
    text-shadow: 0 0 5px #fff;
    font-size: 1.2rem;
    letter-spacing: 3px;
    padding: 5px 20px;
}

#information p {
    font-size: 1rem;
    text-align: center;
}

footer {
    padding: 10px;
    text-align: center;
}

@media (max-width: 768px) {
    main {
        flex-direction: column;
    }
}

.glitch {
    box-shadow: 0 0 10px #0f0, 0 0 20px #0f0, 0 0 40px #0f0, 0 0 80px #0f0;
    animation: glitch-animation 0.5s infinite;
}

@keyframes glitch-animation {
    0% { transform: translate(2px, 0) rotate(0deg); }
    20% { transform: translate(-2px, 0) rotate(0deg); }
    40% { transform: translate(2px, 0) rotate(0deg); }
    60% { transform: translate(-2px, 0) rotate(0deg); }
    80% { transform: translate(2px, 0) rotate(0deg); }
    100% { transform: translate(-2px, 0) rotate(0deg); }
}

.video-container {
    position: relative;
    width: 100%; /* This will make the video container take full width of its parent */
    height: 0;
    padding-bottom: 56.25%; /* This maintains the 16:9 aspect ratio */
}

.video-container iframe {
    position: absolute;
    width: 100%; /* This will make the iframe take the full width of the .video-container */
    height: 100%; /* This will make the iframe take the full height of the .video-container */
    left: 0;
    top: 0;
}